<h2 id="title">SKLEP SPORTOWY</h2>

<nav>
  <ul id="product_list" class="align-items-center justify-content-center" *ngIf="products.length > 0">
    <li class="products" *ngFor="let product of products | paginate: { itemsPerPage: 3, currentPage: p }">
      <div class="product_name">{{product.name | uppercase}}</div>
      <div class="product_price">{{product.price | currency:'USD':true:'1.2-2'}}</div> 
      <div class="product_description">{{product.description}}</div>
      <div class="product_available">Dostępność: {{product.available}} sztuk</div>
    </li>
    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
    <div class="d-flex align-items-center justify-content-center h-100">
        <button class="bottom_button" (click)="onSaveDiscount()">Zapisz promocję</button>
    </div>
</ul>
</nav>

<h4 id="sub_title" *ngIf="products.length == 0">Brak produktów</h4>