<h2 id="title">SKLEP SPORTOWY</h2>

<div class="form" class="discount_form">
    <form id="discount_form" #discountForm="ngForm">
      <p>Wartość obniżki (procenty)</p>
      <input type="number" step="5" min="0" class="form-control" id="discount_value"
        required
        [(ngModel)]="discountValue" name="value" 
        #value="ngModel">
      <div [hidden]="value.valid" class="alert alert-danger">
        Wartość obniżki nie może być pusta.
      </div>
  
      <p>Czas trwania obniżki (minuty)</p>
      <input type="number" step="5" min="0" class="form-control" id="discount_time"
        required
        [(ngModel)]="discountTime" name="time" 
        #time="ngModel">
      <div [hidden]="time.valid" class="alert alert-danger">
        Czas trwania obniżki nie może być pusty.
      </div>
    </form>
  </div>


<ul id="product_list" class="align-items-center justify-content-center" *ngIf="products.length > 0">
  <li class="products" *ngFor="let product of products | paginate: { itemsPerPage: 3, currentPage: p }"
    (click)="onSelectProduct(product)">
    <div class="check_space" *ngIf="isSelected(product)"></div>
    <div class="product_info">
      <div class="product_name">{{product.name | uppercase}}</div>
      <div class="product_price">{{product.price | currency:'USD':true:'1.2-2'}}</div> 
      <div class="product_description">{{product.description}}</div>
      <div class="product_available">Dostępność: {{product.available}} sztuk</div>
    </div>
  </li>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
  <div class="d-flex align-items-center justify-content-center h-100">
    <button class="bottom_button" (click)="onSaveDiscount()">Zapisz promocję</button>
  </div>
</ul>

<h4 id="sub_title" *ngIf="products.length == 0">Brak produktów</h4>