#title {
  color: white;
  font-size: large;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #000080;
}
#sub_title {
    margin-bottom: 30px;
    padding: 10px;
    color: #000080;
}

#product_list .products {
    width: 90%;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    background-color: #EEE;
    margin: 10px;
    height: 100%;
    border-radius: 4px;
    padding-bottom: 10px;
}
#product_list .products:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
#product_list .products .text {
  position: relative;
}
#product_list .products .product_name {
  display: inline-block;
  font-size: large;
  color: #000080;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  height: 1em;
  margin-right: .8em;
  margin-bottom: 2px;
  border-radius: 4px;
}
#product_list .products .product_description {
  display: block;
  font-size: small;
  color: #000000;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  height: 1em;
  margin-right: .8em;
  border-radius: 4px;
}
#product_list .products .product_available {
  display: inline-block;
  font-size: small;
  color: #000000;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  height: 1em;
  margin-right: .8em;
  margin-top: 10px;
  border-radius: 4px;
}
#product_list .products .product_price {
    text-align: center;
    font-size: large;
    color: #FFFFFF;
    background-color: #000080;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 4px;
    float: right;
}

#product_list .products .buttons {
  position: relative;
  float: right;
}
#product_list .products .buttons .edit_button {
    text-align: center;
    font-size: x-small;
    color: #FFFFFF;
    background-color: #ff6819;
    border-color: #ff5601;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    position: relative;
    margin-right: 10px;
    border-radius: 4px;
}
#product_list .products .buttons .delete_button {
  text-align: center;
  font-size: x-small;
  color: #FFFFFF;
  background-color: #ff0000;
  border-color: #d40000f6;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;
  margin-right: 20px;
  border-radius: 4px;
}
.pagination /deep/ .ngx-pagination .current {
    background: #000080;
}

.bottom_button {
  display: inline-block;
  text-align: center;
  font-size: large;
  color: #FFFFFF;
  background-color: #0000FF;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 189);
}


#product_list .products .details {
  margin: 10px;
  width: 50%;
}
#product_list .products .details_text {
  margin-right: 10px;
  font-size: small;
  color: #000080;
}