#title {
    color: white;
    font-size: large;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #000080;
}

.bottom_button {
    display: inline-block;
    text-align: center;
    font-size: large;
    color: #FFFFFF;
    background-color: #0000FF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 189);
}

#thanks_text {
    margin-top: 50px;
    font-size: xx-large;
    color: #000080;
}