<h2 id="title">SKLEP SPORTOWY</h2>

<div class="form" class="d-flex align-items-center justify-content-center h-100">
  <form action="?" id="register_form" #adressForm="ngForm">

    <p>Adres e-mail</p>
    <input type="text" class="form-control" id="email"
      required
      [(ngModel)]="email" name="addresEmail"
      #addresEmail="ngModel">
    <div [hidden]="addresEmail.valid" class="alert alert-danger">
      Proszę podać adres e-mail.
    </div>

    <p>Username</p>
    <input type="text" class="form-control" id="username"
      required
      [(ngModel)]="username" name="nick" 
      #nick="ngModel">
    <div [hidden]="nick.valid" class="alert alert-danger">
      Proszę podać nazwę użytkownika.
    </div>

    <p>Hasło</p>
    <input type="password" class="form-control" id="password"
      required
      [(ngModel)]="password" name="pwd" 
      #pwd="ngModel">
    <div [hidden]="pwd.valid" class="alert alert-danger">
      Proszę podać hasło.
    </div>

    <p>Powtórz hasło</p>
    <input type="password" class="form-control" id="passwordRepeat"
      required
      [(ngModel)]="passwordConf" name="repeat" 
      #repeat="ngModel">
    <div [hidden]="repeat.valid" class="alert alert-danger">
      Proszę powtórzyć hasło.
    </div>

  </form>
</div>

<div class="d-flex align-items-center justify-content-center h-100">
  <button type="submit" class="bottom_button" (click)="register()">Zarejestruj</button>
</div>